@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}
html.dark {
  background-color: #1a202c;
  color: #f7fafc;
}
html {
  scroll-behavior: smooth;
}
